.ff-dashboard-panels {
  position: relative;
}

.ff-dashboard-closeButton {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.ff-dashboard-leftPanel,
.ff-dashboard-rightPanel {
  z-index: 1;
}

.ff-dashboard-leftPanel,
.ff-dashboard-mainPanel,
.ff-dashboard-rightPanel {
  position: absolute;
  height: 100%;
  top: 0;
}

.ff-dashboard-leftPanel {
  width: 0;
  display: none;
  left: 0;
}
.ff-dashboard-mainPanel {
  width: 100%;
  left: 0;
}

.ff-dashboard-rightPanel {
  width: 0;
  display: none;
  right: 0;
}


